html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}
a{
    color: rgb(19, 201, 28);
}
a:visited{
    color: green;
}
a:hover, a:active{  
    color: #830707;
}

table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}